@import '~assets/styles/variables';

.root {
  position: relative;

  .image-wrap {
    text-align: center;

    img {
      max-width: 100%;
      object-fit: contain;
      vertical-align: middle;
      margin-bottom: 5px;
    }
  }

  .thumb {
    border-radius: 3px;
    padding: 10px;
    background-color: $color-white;
    margin-bottom: 15px;
    margin-top: 15px;
    height: 95%;
    transition: opacity 0.5s linear;

    & > a {
      position: relative;
      display: block;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      padding: 0;
      text-decoration: none;
      color: $color-black;
    }

    h3 {
      text-transform: none;
      font-size: 14px;
      font-weight: bold;
      line-height: 21px;
      text-decoration: none;
      margin: 0;
    }
  }

  .icon-edit {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
  }
}
